/* use this to put borders around things... */
.thin_border{
	border: 1px solid black;
}
h1{
	background: linear-gradient(green,red);
  -webkit-background-clip: text;
  color: transparent;
  text-align: center;
}
body{
	background: #1f4037;  /* fallback for old browsers */
background: url("https://static.vecteezy.com/system/resources/previews/002/671/731/non_2x/light-green-background-with-bubbles-modern-abstract-illustration-with-colorful-circle-shapes-design-for-posters-banners-vector.jpg");

}

#navegador ul{
   list-style-type: none;
   text-align: center;
}
#navegador li{
   display: inline;
   text-align: center;
   margin: 0 10px 0 0;
}
#navegador li a {
   padding: 2px 7px 2px 7px;
   color: #666;
   background-color: #50CC7F;
   border: 2px solid #006600;
   text-decoration: none;
}
#navegador li a:hover{
   background-color: #333333;
   color: BLUE;
}
