body{
   background: #1f4037;  /* fallback for old browsers */
background: url("https://static.vecteezy.com/system/resources/previews/002/671/731/non_2x/light-green-background-with-bubbles-modern-abstract-illustration-with-colorful-circle-shapes-design-for-posters-banners-vector.jpg");

}
#navegador ul{
   list-style-type: none;
   text-align: center;
}
#navegador li{
   display: inline;
   text-align: center;
   margin: 0 10px 0 0;
}
#navegador li a {
   padding: 2px 7px 2px 7px;
   color: #666;
   background-color: #77dd77;
   border: 2px solid #4C8A2B;
   text-decoration: none;
}
#navegador li a:hover{
   color: black;
}

 .group{
  font-size:20px;
  font-weight:100;
  color: black;
  font-family:calibri; 
}
.margen{
  background-color: #b6dcb6;
  margin: 150px 500px 30px 500px;
  padding: 30px 25px 15px 10px;
  border: 5px dotted blue;
  height: 500px;
  text-align:center;
  padding: 0 40px 400px 20px;
  border: 4px solid black;
}
